@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    text-align: center;    
}
body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    width: 100vw;
}
::selection {
    background: rgb(29, 74, 165);
}
::-moz-selection {
    background: rgb(29, 74, 165);
}
/*------Header Nav------*/
#navShell {
    width: 100vw;
    left: 0;
    margin: 0 0 20px 0;
    position: fixed;
    mix-blend-mode: exclusion; 
    z-index: 1000;
}
nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    padding: 50px 50px 0 50px;    
}
#logoHolder {
    z-index: 9000;
}
#jLogo {
    height: 42px;    
    fill: #fff;
    transition: .25s;
}
#jLogo:hover {    
    transform: scale(1.15,1.15);
}
.menuList {
    position: fixed;
    height: 100vh;
    width: 100vw;
    right:0;
    top: 0;
    background-color: #161615;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: .5s ease;
}
.menuList {
    list-style: none;
}
.menuList a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-transform: uppercase;
    padding: 25px;
    transition: .5s ease;
}
.menuList a:hover {
    color: #CB9325;
}
#strike1, #strike2, #strike3, #strike4 {
    position: relative;
    text-decoration: none;
}
#strike1:hover:after, #strike2:hover:after, #strike3:hover:after, #strike4:hover:after{
    width: 80%;
}
#strike1::after, #strike2::after, #strike3::after, #strike4::after {
    content: '';
    position: absolute;
    top:46%;
    width: 0%;
    left: 15px;
    height: 6px;
    background: #CB9325;
    transition:width 0.25s ease;
}
#hamMenu {
    width: auto;
    height: auto;
    z-index: 9000;
    transition: .25s;
}
#line1, #line3 {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px;
    transition: .5s ease;
}
#line2 {
    width: 19px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0 6px 10px;
    transition: .5s ease;
}
.toggle #line1 {
    transform: rotate(-45deg) translate(-6px,6px);
    transition: .5s ease;
}
.toggle #line2 {
    opacity: 0;
    transition: .25s ease;
}
.toggle #line3 {
    transform: rotate(45deg) translate(-6px,-6.5px);
    transition: .5s ease;
}
.toggleHover #line2 {
    transform: scaleX(6px);
    transition: .25s ease;
}
/*------Header Content------*/
header {
    width: 100%;
    height: 90vh;
    background-color: white;
    color: rgb(17, 17, 16);
}
#headerShell {
    width: 100%;
    height: auto;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
#headerContent {
    width: 100%;
    padding: calc(45vh - 100px) 0 0 0;
}
#introText {
    width: 900px;
    max-width: 90vw;
    margin: auto;
}
#introText h1 {
    font-family: futura-pt,sans-serif;
    font-weight: 600;
    font-size: 35px;
    padding: 20px 0 15px 0;
}
#yellowBar {
    font-size: 40px;
    color: #CB9325;
}
.yellowText {
    color: #CB9325;
    font-weight: bold;
}
/*------Scroll Content------*/
#myWorkScrollShell {
    fill: rgb(255, 255, 255);
    width: 100%;
    max-width: 1200px;  
    height: auto;    
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding: calc(60vh - 450px) 0 10px 0;
}
#myWorkScroll {    
    transition: .5s ease-in-out;
    padding: 0 20px 0 0;
}
#myWorkScroll:hover {
    transform: translateY(10px);
    cursor: pointer;
}
#myWorkText{
    font-family: 'Montserrat', sans-serif;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    float: right;
    font-size: 20px;
}
#scrollArrow {
    height: 70px;
    padding: 100px 0 0 0;
    margin: 0 -27px;
    float: right;
    fill: rgb(17, 17, 16);
}
/*------Main Content------*/
main {
    height: auto;
    background-color: #fff;
    margin: 0 0 100px 0;
}
#work {
    height: 100%;
    width: 100%;
    margin: auto;
}
#workShell {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto 0 auto;
}
#workShell a {
    text-decoration: none;
}
.workItemShell {
    height: 100%;
    width: 450px;
    padding: 0 20px 10px 20px;
}
.workItem {
    border: solid .75px #cccccc38;
    width: auto;
    height: 250px;
    background-color: rgb(245, 247, 248);
    border-radius: 5px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.02);
    transition: box-shadow .25s ease-in;
   -moz-transition: box-shadow .25s ease-in;
   -webkit-transition: box-shadow .25s ease-in;
}
.workItemShell:hover {
    cursor: pointer;
    transform: scale(1.015,1.015);
    transition:  .25s ease-in;
   -moz-transition:  .25s ease-in;
   -webkit-transition:  .25s ease-in;
}
.workItemShell:hover .workItem {
    box-shadow: 0 6px 6px -2px rgba(0,0,0,.3), 0 6px 8px 0 rgba(0,0,0,.14), 0 2px 16px 0 rgba(0,0,0,.22);
}
.workTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 23px;
    text-align: left;
    letter-spacing: 1px;
    padding: 15px 0 0 0; 
    transition:  .25s ease-in;
   -moz-transition:  .25s ease-in;
   -webkit-transition:  .25s ease-in;
   color: black;
}
.workDesc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    letter-spacing: 1px;
    padding: 5px 0 25px 0;
    color: #707070; 
    transition:  .25s ease-in;
   -moz-transition:  .25s ease-in;
   -webkit-transition:  .25s ease-in;
}
#hollydaleLogo {
    width: auto;
    height: 80%;
    padding: 25px;
    fill: black;
}
#hollydaleLogo2 {
    width: 40%;
    height: auto;
    padding: 25px;
    fill: black;
}
#streetEatsLogo {
    width: auto;
    height: 55%;
    padding: 50px;
    fill: #D13C19;
}
.coverImage {
    width: auto;
    height: 85%;
    padding: 25px;
}
.coverImage2 {
    width: auto;
    height: 100%;
}
#whiteBG {
    background-color: white;
}
/*------About Page------*/
#bodyShell {
    height: auto;
    min-height: 100px;
    background-color: white;
}
#aboutShell {
    width: 100%;
    background-color: white;
}
#aboutContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 63%;
    height: 70vh;
    margin: 0 auto 0 auto;
    padding: 75px 0 0 0;
}
#aboutPhotoShell {
    flex-basis: 40%;
    height: auto;
    padding: 0 0 35px 0;
}
#aboutPhoto {  
    width: 100%;
    height: auto; 
}
#aboutText {
    flex-basis: 41%;
    padding: 0 0 100px 30px;
    font-family: 'Montserrat', sans-serif;
}
#aboutTitle {
    font-weight: 700;
    font-size: 23px;
    text-align: left;
    padding: 0 0 10px 0;
}
#aboutBodyText {
    font-weight: 300;
    color: #494949;
    text-align: left;
    font-size: 18px;
    line-height: 29px;
    padding: 0 0 40px 0;
    text-align: left;
}
#aboutReach {
    text-align: left;
}
#reachEmail, #reachEmail a {
    padding: 10px 0 0 0;
    text-align: left;
    text-decoration: none;
    color: #CB9325;
}
#reachEmail a:hover {
    color: rgb(29, 74, 165);
    transition: .2s;
}
#socialIcons {
    text-align: left;
    font-size: 22.5px;
    padding: 25px 0 0 0;
}
#socialIcons a {
    text-decoration: none;
    color: black;
    padding: 0 5px 0 0;
}
#socialIcons a:hover {
    color: #CB9325;
    transition: .02s;
}
/*------Report Pages------*/
#reportShell {
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 25px 0 0 0;
}
#mastheadShellSE {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}
#mastheadShellWJ {
    background-image: url('images/WestJet-Banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    max-height: 60vh;
    background-color: #173861;
    background-size: 60%;
}
#mastheadShellHD {
    width: 100%;
    height: 400px;
    max-height: 60vh;
    background-color: #212121;
    background-size: 60%;
}
#reportImageTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: white;
    padding: 240px 0 0 0;
}
#reportSubShell {
    background-color: white;
    margin: 0 auto 0 auto;
}
.contentShell {
    width: 100%;
    background-color: rgb(250, 250, 250);
}
#reportOverview {
    display: flex;
    flex-direction: row;
    padding: 60px 0 60px 0;
}
#reportTitle h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}
#reportTitle p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;  
    text-align: left;
    max-width: 900px;
    padding: 10px 0 0 0;
    line-height: 30px;
}
#reportInfo {
    margin: 0 auto 0 auto;
    width: 63%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px 0 0 0;
}
#reportInfo p {
    padding: 0 5px 0 5px;
}
.boldText {
    font-weight: 600;
}
.reportSummary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 70px 0 100px 0;
    width: 60%;
    margin: 0 auto 0 auto;
    justify-content: space-around;
    align-content: stretch;
    max-width: 1300px;
}
.summaryP2 {
    width: 45%;
    min-width: 300px;
    max-width: 60vw;
    margin: 0 auto 0 auto;
}
.bulletList {
    width: 45%;
    min-width: 300px;
    max-width: 60vw;
    margin: 0 auto 0 auto;
}
.summaryP1 {
    width: 45%;
    min-width: 300px;
    max-width: 60vw;
    margin: 0 auto 0 auto;
}
.reportSummary h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}
.reportSummary p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    max-width: 900px;
    padding: 10px 0 0 0; 
    line-height: 30px;
}
.reportSummary h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: left;
}
.imageCenterShell {
    padding: 0 0 100px 0;
}
.imageCenter {   
    width: 100%;
    height: auto; 
}
.centerFlex {
    margin: 0 auto 0 auto;
    max-width: 60vw;
}
.centerFlex p {
    padding-bottom: 10px;
}
#developmentShell {
    width: 63%;
    margin: 50px auto 0 auto;
}
#development {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70px;
}
#streetEatsLogo2 {
    width: 420px;
    height: auto;
    padding: 100px;
}
#streetEatsLogoShell {
    width: 100%;
    height: 100%;
    background-image: url('images/Street-Eats-Banner-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
#planitLogoShell {
    width: 100%;
    height: 100%;
    background-image: url('planitBanner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e1e1ff;
}

#hollydaleLogoMasthead {
    width: 250px;
    height: auto;
    padding: 50px 0 0 0;
    fill: white;
}
.decorativeImage {
    padding: 0 0 70px 0;
    width: 80%;
    max-width: 800px;
}
.decorativeImageTall {
    padding: 0 0 70px 0;
    height: 50%;
    max-height: 700px;
    max-width: 100vw;
}
#SECompetitorsImage {
    width: 100%;
}
.personaShell {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.userImageLeft {
    flex-basis: 500px;
}
.userImageRight {
    flex-basis: 500px;
    height: auto;
}
.userImageLeft img, .userImageRight img {
    width: 500px;
}
.removePadding {
    padding: 0 0 70px 0;
}
#addPadding {
    padding: 40px 0 0 0;
}
#addPadding2 {
    padding: 30px 0 0 0;
}
#centerText {
    text-align: center;
}
.widthPadding {
    width: 65%;
    padding: 0 0 40px 0;
}
#SEPrototypeImage {
    width: 55%;
}
#westjetSketch {
    max-height: 800px;
    height: auto;
    width: auto;
    max-width: 90vw;
}
/*------Goals Final Section------*/
.goalItemShell {
    font-family: 'Montserrat', sans-serif;
}
.goalItemSubShell {
    display: flex;
    flex-direction: row;
    width: 63%;
    margin: 0 auto 0 auto;
    padding: 40px 0 40px 0;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1300px;
}
.goalImage img {
    width: 250px;
}
.goalSummary {
    padding: 15px 40px 15px 40px;
    width: 50%;
    align-self: center;
    min-width: 300px;
    max-width: 60vw;
}
.goalSummary h5 {
    text-align: left;
    font-weight: 600;
    font-size: 25px;
}
.goalSummary p {
    padding: 10px 0 0 0;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.h5Header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding: 40px 0 40px 0;
}
.prototypeLinkDesktop2 {
    padding: 30px 0 0 0;
}
.prototypeLinkMobile {
    display: none;
}
.prototypeLinkMobile a, .prototypeLinkDesktop a, .prototypeLinkDesktop2 a {
    text-decoration: none;
    color: black;
}
.prototypeButton {
    width: 200px;
    height: auto;
    border: solid 1.5px #161615;
    margin: 0 auto 0 auto;
    padding: 10px;
}
.prototypeButton:hover {
    border: solid 1.5px #CB9325;
    color: #CB9325;
    transition: .25s ease-in-out;
}
.prototypeButton h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px; 
}
#prototypeShell {
    padding: 20px 0 50px 0;
}
.paddingBottom {
    padding: 10px 0 50px 0;
}
.photoGrid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto 0 auto;
    justify-content: space-evenly;
    max-width: 100vw;
}
.photoGrid img {
    width: 400px;
    height: 400px;
    padding: 15px;
}
.centerMe {
    text-align: center;
}
#goBack, #goHome {
    font-weight: 600;
    transition: .25s ease-in;
    text-decoration: none;
}
#goBack:hover, #goHome:hover {
    color: #CB9325;
    transition: .25s ease-in;
}
#smallText {
    font-size: 15px;
}
.olItem {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
ol {
    list-style: none;
    counter-reset: item;
}
ol li {
    counter-increment: item;
    padding: 0 0 10px 0;
}
ol li::before {
    content: counter(item) ". ";
    font-weight: bold;
}
.orderedList {
    padding: 10px 0 0 0;
}
.teamMemberShell {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.teamPhoto {
    width: 300px;
    height: auto;
    padding: 25px;
}
/*------Medium Width------*/
@media screen and (max-width: 1550px) {
#aboutContent {
    width: 80%;
}
.workItemShell {
    padding: 0 10px 10px 10px;
}
.reportSummary {
    width: 70%;
}
#reportInfo {
    width: 78%;
    max-width: 1300px;
    margin: 0 auto 0 auto;
}
}
/*------Small Width------*/
@media screen and (max-width: 1350px) {
#aboutContent {
    width: 90%;
}
.workItemShell {
    padding: 0 5px 10px 5px;
}
#workShell {
    width: 100%;
}
#reportInfo {
    width: 90%;
    flex-direction: row;
    padding: 25px 0 0 0;
}
.userImageLeft {
    flex-basis: 400px;
}
.userImageRight {
    flex-basis: 400px;
}
.userImageLeft img, .userImageRight img {
    width: 100%;
}
.reportSummary {
    width: 90%;
}
.summaryP1, .summaryP2 {
    width: 100%;
}
.goalItemSubShell {
    width: 100%;
}
.goalSummary {
    width: 90%;
    padding: 15px 20px;
}
#streetEatsLogo2 {
    width: 300px;
    height: auto;
    padding: 75px;
    max-height: 15vh;
}
#planitLogo {
    width: 300px;
    height: auto;
    padding: 75px;
    max-height: 15vh;
}
.summaryImage, #SEPrototpyeImage {
    width: 90%;
}
#mastheadShellWJ {
    height: 450px;
    background-size: 70%;
}
.reportSummary h5 {
    padding: 20px 0 0 0;
}
.bulletList {
    width: 45%;
    min-width: 300px;
    max-width: 60vw;
    margin: 0 auto 0 auto;
}
}
@media screen and (max-width: 1000px) {
#mastheadShellWJ {
    height: 350px;
    background-size: 80%;
}
.summaryP1, .summaryP2, .centerFlex {
    max-width: 90vw;
}
}
/*------Mobile------*/
@media screen and (max-width: 800px) {
.menuList {
    flex-direction: column;
}
#introText {
    padding: 20vh 0 0 0;
}
#introText h1 {
    font-size: 26px;
    padding: 17px 0 10px 0;
}
#yellowBar {
    font-size: 28px;
}
#headerContent {
    padding: 0;
}
#myWorkScrollShell {
    padding: calc(60vh - 400px) 0 10px 0;
}
#workShell {
    width: 85%;
}
.workItem {
    height: 200px;
}
.workItemShell {
    width: 90vw;
    max-width: 400px;
}
#aboutContent {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    padding: 45px 0 0 0;
}
#aboutPhotoShell {
    flex-basis: 90%;
    padding: 0 10px 15px 10px;
}
#aboutText {
    flex-basis: 90%;
    padding: 10px 10px 100px 10px;
}
#mastheadShellWJ {
    height: 300px;
    background-size: 70%;
}
.photoGrid img {
    width: 300px;
    height: 300px;
    padding: 15px;
}
#navShell {
    mix-blend-mode: normal;
}
#jLogo {
    fill: black;
}
#line1, #line3, #line2 {
    background-color: black;
}
nav {
    padding: 10px 30px 10px 30px;    
}
.goalSummary {
    width: 90%;
    padding: 15px 10px;
}
#myWorkScrollShell {
    padding: 50px 0 10px 0;
}
header {
    height: 100%;
}
#streetEatsLogo2 {
    width: 150px;
    height: auto;
    padding: 25px;
    max-height: 15vh;
}
#reportShell {
    padding-top: 0px;
}
#mastheadShellSE {
    padding: 50px 0 0 0;
}
#bodyShell {
    min-height: 50px;
}
}
@media screen and (max-width: 550px) {
#mastheadShellWJ {
    height: 250px;
    background-size: 70%;
}
#navShell {
    background-color: white;
    mix-blend-mode: normal;
    filter: drop-shadow(1px 1px 3px rgba(71, 71, 71, 0.493));
}
}
@media screen and (max-width: 350px) {
#myWorkScrollShell {
    display: none;
}
header {
    height: 70vh;
}
}
@media screen and (min-height: 2000px) {

}