@charset "UTF-8";
@font-face {
	font-family:koliko-Light;
	font-weight:100;
	src: url('koliko-Light.ttf');
}
#headerMain {
	font-family:koliko-Light;
	padding-right:30px;
	padding-left:30px;
	font-size:48px;
	color:#f1ffe5;
	padding-top:30px;
	letter-spacing:3.5px;
}
#shell {
	border-style: solid;
	border-width: 0px;
	border-color: #000000;
	margin-left: auto;
	margin-right:auto;
	width:800px;
}
#banner {
	background-color: #333333;
	background-image: url(road.jpg);
	height:200px;
}
#mid {
	background-image:url(center.gif);
	background-repeat:repeat-y;
	background-position:35%;
	margin:20px;	
}
#columnLeft {
	float:left;
	width:250px;
	display:block;
}
#columnRight {
	float:right;
	width:465px;
	display:block;
}
#rowBottom {
	clear:both;
	padding-top:20px;
	padding-bottom:10px;
	background-color:#374d36;
	border-top-width:2px;
	border-top-style:solid;
	border-top-color:#000000;
}
#rowBottom {
	font-family:Helvetica,Arial,sans-serif;
	color:#E6EAC0;
	margin:auto;	
}
#bottomText {
	margin-left:2.5%;
	text-align:center;
}
#bottomIcons {
	padding-left:45%;
}
.imageRight {
	float:right;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
}
.imageLeft{
	float:left;
	padding-right:10px;
}