@charset "UTF-8";
@font-face {
    font-family: Montserrat-Regular;
    font-weight: 100;
    src: url('Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-ExtraBold;
    font-weight: 100;
    src: url('Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: 100;
    src: url('Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    font-weight: 100;
    src: url('Montserrat-SemiBold.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
}
.clearfix:after {
    content:"";
    clear: both;
    display: table;
}
body {
    background-color:#212121;
}
/*-----Landing Section-----*/
#landing {
    height:100vh;
}
.logoMaster {
    margin: 30px 0px 0px 30px;
    width: 50px;
    height: 50px;
    position: absolute;
}
.title{
    font-family: Montserrat-SemiBold, sans-serif;
    font-size:1.1em;
    letter-spacing: .1em;
    text-align: right;
    padding: 35px 60px 10px 0px;
    color: white;
}
#centerP  {
    position: absolute;
    margin-left: 32%;
    margin-top: 10%;
    width:475px;
}
.greet a {
    text-decoration: none;
    color: #cc9423;
}
.greet a:hover {
    color: #d6c197;
}
#landing h1 {
    color:white;
    font-family:Montserrat-ExtraBold, sans-serif;
    font-size:2.5em;
    text-align:left;
    line-height:1.4em;
}
.MeTower {
    position: relative;
    width: 449px;
    height:582px;
    float: right;
    margin: 10em 30em 10em 30em;
}
.Underline {
    position: absolute;
    float:right;
    width: 12em;
    margin-left: 9em;
}
/*-----Footer Landing-----*/
.footerLC {
    width: 100%;
}
.footerL {
    position: absolute;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size:1.1em;
    letter-spacing: .1em;
    text-align: center;
    color: white;
    bottom: 1em;
    width: 500px;
    left: 36%;
    right: 40%;
}
.footerLC {
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.footerL a {
    color: white;
    text-decoration: none;
}
.footerL a:hover {
    color: #d6c197;
}
/*-----Design Section-----*/
#design {
    background-color:white;
    height:2600px;
    left:0;
    width:100%;
}
/*-----Design Section-----*/
#design {
    width: 100%;
}
/*-----Hollydale-----*/
.designH {
    position: relative;
    width: 500px;
    margin: auto;
    height: 300px;
    padding-bottom: 25px;
}
.designH h1 {  
    font-family: Montserrat-ExtraBold, sans-serif;
    font-size: 3em;
    letter-spacing: .3em;  
    padding-top: 75px;   
    text-align: center;
    color: #212121;
}
.designH p {
    position: absolute;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 1.4em;
    color: #212121;    
    text-align: center;
}
.yellowP {
    color: #cc9423
}
.designC {
    display: inline-block;
    width: 100%;
}
.Hollydale {
    padding: 10px;
    margin-left: 10%;
}
.designC h3 {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 1.15em;
    padding-bottom: .5em;
    padding-top: .5em;
}
.designC p {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1em;
}
.hP {
    width: 1100px;
    line-height: 1.5em;
}
/*-----Taco Grande-----*/
.tImage {
    margin-right: 10%;
    padding: 10px;
    float: right;
}
.tP {
    width: 550px;
    line-height: 1.5em;
    text-align: left;
    position: absolute;
}
.multiD {
    position: relative;
    padding-left: 7%;
    padding-right:1em;
}
/*-----Photography Section-----*/
#photography {
    height:2600px;
    left:0;
    width:100%;
}

.photograpyH {
    position: relative;
    width: 500px;
    margin: auto;
    height: 300px;
    padding-bottom: 25px;
}
.photographyH h1 {  
    font-family: Montserrat-ExtraBold, sans-serif;
    font-size: 3em;
    letter-spacing: .3em;  
    padding-top: 75px;   
    text-align: center;
    color: white;
}
.photographyH p {
    position: absolute;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 1.4em;
    color: white;    
    text-align: center;
}
/*-----Footer-----*/
#footer {
    position: relative;
    background-color: white;
    height:50px;
    left:0;
    width:100%;
}
.linksF {
    position: relative;
    bottom: 40%;
    color: #212121;
    font-family: Montserrat-SemiBold, sans-serif;
    text-align: center;
}
.linksF a {
    text-decoration: none;
    color: #212121;
}
.linksF a:hover {
    color: #d6c197;
}
.logoF {
    position: relative;
    left: 40%;
    top:.5em;
}