@charset "UTF-8";
@font-face {
    font-family: Montserrat-Regular;
    font-weight: 100;
    src: url('Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-ExtraBold;
    font-weight: 100;
    src: url('Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: 100;
    src: url('Montserrat-Light.ttf');
}
@font-face {
    font-family: Montserrat-SemiBold;
    font-weight: 100;
    src: url('Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: Montserrat-MediumItalic;
    font-weight: 100;
    src: url('Montserrat-MediumItalic.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    background-color:white;
}
/*-----Landing Section-----*/
#landing {
    background-color: #212121;
    height:100vh;
}
.logoMaster {
    margin: 30px 0px 0px 30px;
    width: 50px;
    height: 50px;
    position: absolute;
}
.title{
    font-family: Montserrat-SemiBold, sans-serif;
    font-size:1.1em;
    letter-spacing: .1em;
    text-align: right;
    padding: 35px 60px 10px 0px;
    color: white;
}
#centerP  {
    position: absolute;
    margin-left: 28.75%;
    margin-top: 10%;
    width:550px;
    letter-spacing: .25em;
}
.greet span {
    color: #cc9423;
}
#landing h1 {
    color:white;
    font-family:Montserrat-ExtraBold, sans-serif;
    font-size:2.5em;
    text-align:left;
    line-height:1.4em;
    padding:2.5px;
}
.MeBridge {
    position: absolute;
    height: 35em;
    float: right;
    margin: 8em 22.25em 10em 62em;
}
.Underline {
    position: absolute;
    float:right;
    width: 20em;
    margin-left: 75%;
    margin-top: 8%;
}
/*-----Landing Footer-----*/
.footerL {
    position: absolute;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size:1.1em;
    letter-spacing: .1em;
    text-align: center;
    color: white;
    bottom: 1em;
    width: 400px;
    left: 40%;
    right: 40%;
}
.footerLC {
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.footerL a {
    color: white;
    text-decoration: none;
}
.footerL a:hover {
    color: #d6c197;
}
/*-----About Me-----*/
#aboutMe {
    background-color: white;
    position: relative;
    height:955px;
    left:0; 
}
#yellowBar {
    background-color: #cc9423;
    position: absolute;
    width: 628px;
    height: 100%;
}
.meBridgeC {
    position: absolute;
    float: right;
    top:9em;
    right: -20.5%;
}
.aboutMeP {
    position: absolute;
    padding-top:11em;
    padding-left: 17em;
}
.aboutMe {
    font-family: Montserrat-ExtraBold, sans-serif;
    font-size: 3em;
    letter-spacing: .1em;
    color: white;
}
.contactInfo {
    position: absolute;
    bottom: 2em;
    left: 35%;
    right: 35%;
}
.contactInfo a {
    text-decoration: none;
    color:black;
}
.contactInfo a:hover {
    color: #d6c197;
}
.contactInfo h2 {
    font-family: Montserrat-Regular, sans-serif;
    color: black;
    font-size:1em;
    text-align: center;
}
#whiteSection {
    position: relative;
    right:0;
    padding: 15em 1em 0em 48em;
    margin-top:0em;
    width: 1000px;
}
.whiteInfo {
    color: black;
    text-align: left;
    line-height: 1.75em;
    padding-right: 3em;
    padding-left: 3em;
}
.whiteInfo h1 {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 1.95em;
}
.whiteInfo p {
    font-family: Montserrat-Light, sans-serif;
    font-size: 1.15em;
}
.whiteInfo h3 {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 1.15em;
}
.whiteInfo h2 a {
    color: #cc9423;
    font-family: Montserrat-MediumItalic, sans-serif;
    text-decoration: none;
}
.whiteInfo h2 a:hover {
    color: #d6c197;
}
/*-----Footer-----*/
#footer {
    position: relative;
    background-color: #212121;
    height:50px;
    left:0;
    width:100%;
}
.linksF {
    position: relative;
    bottom: 40%;
    color: white;
    font-family: Montserrat-SemiBold, sans-serif;
    text-align: center;
}
.linksF a {
    text-decoration: none;
    color: white;
}
.linksF a:hover {
    color: #d6c197;
}
.logoF {
    position: relative;
    left: 40%;
    top:.5em;
}